body{
  height: 60vh;
  display: flex;
  justify-content: center;
  background-color: #fff0f5;
  align-items: center;
}
h1{
  color: gray;
  text-align: left;
}

.container {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.quizSection {
  position: relative;
  width: 65vw;
  padding: 2rem 2rem 3rem 2rem;
  
  
  border-radius: 1rem;
  background-color: #e8f4ff;
  box-shadow: 0 0 5px coral;
  
}
.quiz{
  margin: 1rem 0 0.5rem 0 ;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  
}



input{
  height: 1.rem;
  font-size: 1rem;
  padding: 0.25rem 1rem;
  border-radius:0.25rem;
  border: none;
  outline: 0.5px solid gray;
  
}
button{
  position: absolute;
  width: 3rem;
  right: 2.2rem;
  bottom: 0.75rem;
  font-size: 1.25rem;
  border: none;
  border-radius: 0.4rem;
  background-color: orangered;
  color: snow;
  padding:0.1rem 0.5rem;
}
.restart{
  margin: 1rem 0 0 0;
  position: relative;
  bottom: auto;
  right: auto;
  width: 5rem;
  background-color: lightcoral;
}

#scoreDisplay{
  position: absolute;
  border: none;
  background-color: aliceblue;
  left: 2.2rem;
  bottom: 0.75rem;
  outline:none;
  
}

#timer,#index{
  width: 1.5rem;
  padding-right:0.2rem ;
  padding-left: 0.2rem;
position: absolute;
  border: none;
  background-color: aliceblue;
  left: 7.5rem;
  bottom: 0.75rem;
  outline:none;
}

#index{
  width: 2.5rem;
  text-align: center;
  left: 9.85rem;
}
