*{
  margin: 0;
  padding: 0;
}

body{
  background-color: aliceblue;
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardContainer{
  background-color: #428ebd;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding:1.1rem;
  border-radius: 1rem;
}

h1{
  color: whitesmoke;
}

.pwContainer{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 75%;
  font-size: 1.25rem;
}

#display,button {
  
  font-size: 1.25rem;
  padding: 0.25rem;
  border-radius: 0.4rem;
  border: 0;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px floralwhite;
  
  
}

#display {
  padding-right: 1.35rem;
}

button{
  align-self: center;
  width: 40vw;
  background-color: coral;
  color: navajowhite;
}
.pwLength{
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.25rem;
}

#length{
  width: 30px;
  font-size:1.25rem;
  border-radius: 0.25rem;
  border: none;
}

.output{
  position: relative;
}
#clipboard{
  position: absolute;
  right: 0.5rem;
  top: 0.35rem;
  color: black;
  
}
form{
  color: #f0f0f0;
}
