.card {
  background-color: #fffaf0;
  margin: 0 0.25rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 10px rebeccapurple;
}

.title{
  font-weight: 700;
}

h1{
  font-size: 10rem;
}

