h1{
  text-align: center;
  font-weight: 2rem;
  
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 250px;
  text-align: center;
  min-width: 100px;
}
.choices{
  display: flex;
  justify-content: space-between;
}

.choices button{
  padding: 0.6rem;
  font-size: 5rem;
  margin: 1rem;
  border: none;
  background-color: hsla(200, 100% , 50%);
  border-radius: 50%;
  transition: background-color 0.5s ease;
}

.choices button:hover{
  background-color: hsla(200, 100% , 80%);
}

p{
  font-size: 1.5rem;
 margin:1rem;
}

.win,.lose,.tie{
  font-size: 3rem;
}

.win{
  color: limegreen;
}
.lose{
  color: red;
}
.tie{
  color: royalblue;
}